* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Agregamos box-sizing para mejorar el layout */
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #efefee, #cccccc, #f3f5fc, #ffffff);
    margin-top: 0; /* Eliminamos la medida de 0px ya que no es necesaria */
    padding: 0 20px;
  }
  
  .logo{
    width: 120px;
    height: 48px;
    display: flexbox;
    left: 6%;
    position: flex;
    top: 4%; /* Usamos top en lugar de padding-top para posicionar el elemento */
  }
  
  .texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter", sans-serif; /* Agregamos una fuente secundaria */
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    background-color: transparent;
  }
  
  .texto::placeholder {
    color: #0a3871;
  }
  
  .texto:focus,
  .texto:active {
    border: none;
    outline: none;
  }
  
  .terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0; /* Eliminamos la medida de 0px ya que no es necesaria */
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
  }
  
  .terminos p {
    font-family: "Inter", sans-serif; /* Agregamos una fuente secundaria */
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    color: #67808e;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .contenedor-botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
  }
  
  .btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif; /* Agregamos una fuente secundaria */
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }
  
  .btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif; /* Agregamos una fuente secundaria */
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}

.btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.btn-desencriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.btn-copiar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border: none;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #d8dfe8;
    cursor: pointer;
  }
  
.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    border: solid #0d88dd;
    border-radius: 2em;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.encriptado img {
    position: relative;
    width: 80%;
    height: 50%;   
    top: 15%; 
}

/* Diseño Responsivo*/

@media (max-width: 57.5em) {
    .container {
        display: flex;
        direction: row;
    }
    .encriptar {
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;

    }
    .terminos p {
        font-size: 1em;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar {
        width: 48%;
        border-radius: 1em;
    }
     .btn-encriptar:hover,.btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
     }
     .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
     }
     .mensaje-encriptado{
        width: 100%;
        top: 5%;
     }
     .encriptado{
        top: 0;
        display: none;
        visibility: hidden;
     }
}
